* {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  margin: 20px;
  padding: 20px;
  color: #00ff00;
  border: 1px solid #00ff00;
  background-color: #000000;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 100%);
}

h1 {
  font-size: 24px;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

h2 {
  font-size: 20px;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

h3 {
  font-size: 18px;
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}

h1, h2, h3 {
  margin: 10px 0;
}

button {
  padding: 10px;
  color: #00ff00;
  border: 1px solid #00ff00;
  background-color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button:hover {
  background-color: #00ff00;
  color: #000000;
  border: 1px solid #00ff00;
  cursor: pointer;
}

label {
  padding: 10px;
  border: 1px dashed #00ff00;
  display: block;
  margin-bottom: 10px;
}

input {
  width: 230px;
  padding: 10px;
  color: #00ff00;
  border: 1px dashed #00ff00;
  background-color: #000000;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #00ff00;
  box-shadow: 0 0 5px #00ff00;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  margin: 10px 0;
  padding: 20px;
  border: 1px dashed #00ff00;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  border-color: #00ff00;
  box-shadow: 0 0 10px #00ff00;
}

.hacker {
  margin: 10px 0;
  padding: 10px;
  border: 1px dotted #00ff00;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.hacker:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: #00ff00;
}

.hacker img {
  border-radius: 100%;
  border: 2px solid #00ff00;
  padding: 5px;
}

@media (max-width: 600px) {
  body {
    margin: 10px;
    padding: 10px;
  }

  button {
    width: 100%;
    font-size: 16px;
  }

  input {
    width: 100%;
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
